.container {
  margin-top: 25px;
}

.btn-group {
  padding: 25px;
  margin: 0 auto;
  display: table;
  text-align: center;
}

.btn.btn-outline-primary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.days-button:hover {
  color: red;
}

button p {
  text-align: left;
  margin-bottom: 0;
}

.days-button {
  margin-bottom: 0;
}

#header {
  text-align: center;
}

#celebrations p {
  margin-left: 25px;
}

#dates {
  display: inline-table;
}

form {
  text-align: center;
}

form input {
  width: 300px;
}
