.container {
  margin-top: 25px;
}

.btn-group {
  padding: 25px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

button p {
  text-align: left;
}

.days-button {
  margin-bottom: 0;
}

#header {
  text-align: center;
}

#celebrations p {
  margin-left: 25px;
}
